[submodule "ElliLib"]
	path = ElliLib
	url = https://github.com/Deathbeyond87/ElliLib.git
[submodule "ElliCon"]
	path = ElliCon
	url = https://github.com/Deathbeyond87/ElliCon.git
[submodule "donatello"]
	path = donatello
	url = git@github.com:slobodaapl/donatello-rs.git
